* {
    box-sizing: border-box;
    font-size: calc(5px + 0.7vw);
}

html, body {
    background: #363636;
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

a {
    color: #6080ff;
}

p {
    display: block;
    margin-block: 0;
    margin-inline: 0;
}

#container {
    height: 100%;
    padding-top: 4.2em;
    display: grid;
    justify-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
}

#top {
    background: #252525;
    width: 40em;
    max-width: 40em;
    min-width: 40em;
    position: fixed;
    top: 0;
    height: 4.2em;
    padding: 0.3em 1em;
    border-bottom: 2px solid #ffffff;
}

#headerContainer {
    display: flex;
    height: 2.1em;
    justify-content: space-between;
}

#topBar {
    display: flex;
    height: 1.5em;
    justify-content: space-between;
}

#accountDisplay {
    text-align: left;
    max-width: 25em;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
}

#userName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15em;
    margin: 0 0.5em;
}

#searchResultCount {
    font-size: calc(4px + 0.5vw);
    text-align: right;
}

#headerLink {
    color: #ffffff;
    font-size: calc(8px + 1vw);
    text-decoration: none;
}

#searchFormContainer {
    width: 25em;
    max-width: 30em;
}

#searchForm {
    justify-items: right;
    display: grid;
    grid-template-columns: 1fr max-content;
}

#searchInput {
    width: 100%;
    max-width: 20em;
    text-align: left;
    height: 2em;
    margin-right: 0.2em;
}

.submitButton {
    color: #ffffff;
    background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
    border: 0;
    border-radius: 0.3em;
    text-align: center;
    padding: 0.2em 1em;
    height: 2em;
    cursor: pointer;
    touch-action: manipulation;
}

.submitButton:hover {
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
}

#content {
    background: #252525;
    height: 100%;
    width: 40em;
    overflow-wrap: break-word;
    text-align: left;
    padding: 0 1em;
}

#bottom {
    background: #252525;
    height: 100%;
    width: 40em;
    margin: 0 auto;
    display: flex;
}

.article {
    padding-top: 0.5em;
    text-align: left;
}

.articleProperties {
    font-size: calc(4px + 0.5vw);
    text-align: right;
    padding-bottom: 0.5em;
}

.descriptionRow {
    display: flex;
}

.descriptionColumn {
    text-align: justify;
    text-justify: inter-word;
}

.imageColumn {
    flex-grow: 1;
    padding-left: 1em;
    text-align: right;
}

.articleImage {
    flex-grow: 1;
    max-height: 7em;
    max-width: 15em;
    vertical-align: middle;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#pageFormContainer {
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 0.3em;
    align-self: flex-end;
    margin: 0 auto;
}

#pageForm {
    flex-grow: 1;
    text-align: center;
    align-self: center;
}

#pageInput {
    width: 8em;
    height: 2em;
    text-align: center;
    align-self: center;
}

.userInputFormContainer {
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 25em;
    border: 2px solid #707070;
    border-radius: 0.5em;
}

.userInputForm {
    width: fit-content;
    margin: 0 auto;
}

.pageTitle {
    font-size: calc(7px + 0.9vw);
    text-align: center;
    margin-bottom: 0.5em;
}

.userInputBox {
    width: 20em;
    height: 1.4em;
    margin-bottom: 0.7em;
}

.userInputError {
    width: 100%;
    margin-top: 0.5em;
    padding: 0.5em;
    color: #ff0000;
    background: #ffdddd;
    border: 1px solid #ff0000;
    border-radius: 0.5em;
}

.registerButtonContainer {
    text-align: center;
}

.dangerButton {
    background-image: linear-gradient(-180deg, #c8511d 0%, #e16937 100%);
}

.dangerButton:hover {
    background-image: linear-gradient(-180deg, #e26a36 0%, #e88a63 100%);
}